# Deliverable 3. Create a Travel Itinerary Map:

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config1 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

# 1. Read the WeatherPy_vacation.csv into a DataFrame:

In [2]:
vacation_df = pd.read_csv("/Users/awebber00/Desktop/Columbia/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,sai buri,TH,86.00,scattered clouds,6.7013,101.6168,ร้าน​ เวดดิ้ง
1,1,vaini,TO,84.20,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
2,3,saint-philippe,RE,86.00,clear sky,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
3,4,dabat,ET,63.46,overcast clouds,12.9842,37.7650,Haymanot hotel
4,7,sagaing,MM,82.40,clear sky,21.8787,95.9797,Makara Cruise

# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city:

In [3]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} & {Max Temp} °F</dd> 
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list. 3b. Get the latitude and longitude from each row and store in a new DataFrame:

In [4]:
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

locations = vacation_df[["Lat", "Lng"]]
locations

         Lat       Lng
0     6.7013  101.6168
1   -21.2000 -175.2000
2   -21.3585   55.7679
3    12.9842   37.7650
4    21.8787   95.9797
..       ...       ...
379  14.5106    6.7650
380   6.1241   81.1185
381  -2.6741  141.3028
382 -21.0500   31.6667
383 -14.2667   50.1667

[384 rows x 2 columns]

# 4a. Add a marker layer for each city to the map. 4b. Display the figure:

In [6]:
description= vacation_df["Current Description"]
fig= gmaps.figure(center=(30,31), zoom_level= 1.5)
heat_layer=gmaps.heatmap_layer(locations, dissipating= False, max_intensity=300, point_radius=4)
marker_layer=gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method: 
- Hint: The starting and ending city should be the same city.

In [15]:
vacation_start = vacation_df.loc[(vacation_df["Hotel Name"]=="Best Western Plus Abbey Inn")]
vacation_end = vacation_df.loc[(vacation_df["Hotel Name"]== "Best Western Plus Abbey Inn")]
vacation_stop1 = vacation_df.loc[(vacation_df["Hotel Name"]=="Good Nite Inn Salinas Monterey")]
vacation_stop2 = vacation_df.loc[(vacation_df["Hotel Name"]=="Holiday Inn Express & Suites Elk Grove Central - Hwy 99")] 
vacation_stop3 = vacation_df.loc[(vacation_df["Hotel Name"]== "The Ritz-Carlton, Half Moon Bay")]

# Vacation Start/End:

In [14]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
178,319,saint george,US,50.0,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn

# Vacation Stop 1:

In [10]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
247,439,salinas,US,51.8,fog,36.6777,-121.6555,Good Nite Inn Salinas Monterey

# Vacation Stop 2:

In [11]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
27,40,laguna,US,51.01,clear sky,38.421,-121.4238,Holiday Inn Express & Suites Elk Grove Central...

# Vacation Stop 3:

In [12]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
57,96,half moon bay,US,55.0,mist,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"

# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing:

In [16]:
start = vacation_start.iloc[0,5:7]
end = vacation_end.iloc[0,5:7]
stop1= vacation_stop1.iloc[0,5:7]
stop2=vacation_stop2.iloc[0,5:7]
stop3= vacation_stop3.iloc[0,5:7]

# 7. Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING":

In [17]:
fig=gmaps.figure()
trip_stops= gmaps.directions_layer(start,end, waypoints=[stop1,stop2,stop3], travel_mode='DRIVING')
fig.add_layer(trip_stops)
fig

Figure(layout=FigureLayout(height='420px'))

# 8. To create a marker layer map between the four cities. Combine the four city DataFrames into one DataFrame using the concat() function:

In [19]:
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,319,saint george,US,50.00,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
1,439,salinas,US,51.80,fog,36.6777,-121.6555,Good Nite Inn Salinas Monterey
2,40,laguna,US,51.01,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
3,96,half moon bay,US,55.00,mist,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
4,319,saint george,US,50.00,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn

# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city:

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list:

In [21]:
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame:

In [22]:
locations = itinerary_df[["Lat", "Lng"]]

# 11a. Add a marker layer for each city to the map. 11b. Display the figure:

In [23]:
description= vacation_df["Current Description"]
fig= gmaps.figure(center=(30,31), zoom_level= 1.5)
heat_layer=gmaps.heatmap_layer(locations, dissipating= False, max_intensity=300, point_radius=4)
marker_layer=gmaps.marker_layer(locations, info_box_content=itinerary_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))